:root {
	--base-strong: #000;
	--base-weak: #fff;

	--faint-strong: #8994A6;
	--faint-weak: #F6F8FB;

	--accent-strong: #0070FF;
	--accent-weak: #EBF4FF;

	--complement-strong: #8889E2;
	--complement-weak: #EEECFD;

	--critic-strong: #F74545;
	--critic-weak: #FDEDED;

	--warning-strong: #F8AE4F;
	--warning-weak: #FCEBCF;

	--success-strong: #27AE60;
	--success-weak: #DEF8E9;
}
