/* Классы отвечающие за горизонтальное выравнивание flex-элементов вдоль главной оси flex-контйнера */
.justify-content-start { /* Элементы распологаются в начале стоки */
    justify-content: flex-start;
}

.justify-content-end { /* Элементы распологаются в конце строки */
    justify-content: flex-end;
}

.justify-content-center { /* Элементы распологаются в середине строки */
    justify-content: center;
}

.justify-content-around { /* Элементы распологаются равномерно, расстояния между каждой парой соседних элементов равны, а расстояние перед первым элементои и после последнего равны половине расстояния между парами соседних элементов*/
    justify-content: space-around;
}

.justify-content-between { /* Элементы распологаются равномерно, расстояния между каждой парой соседних элементов равны. Первый элемент прижат к начало, а последний к концу строки */
    justify-content: space-between;
}

/* Классы отвечающие за вертикальное позиционирование всех элементов flex-контейнера */
.align-items-flex-start { /* Элементы распологаются у верхней границы */
    align-items: flex-start;
}

.align-items-start {
    align-items: start;
}

.align-items-center { /* Элементы распологаются по центру */
    align-items: center;
}

.align-items-flex-end { /* Элементы распологаются в нижней части */
    align-items: flex-end;
}

.align-items-end {
    align-items: end;
}

.align-items-baseline { /* Элементы распологаются так, что их базовые линии совпадают */
    align-items: baseline;
}

.align-items-stretch { /* Элементы растягиваются */
    align-items: stretch;
}

/* Классы отвечающие за вертикальное позиционирование отдельных элементов flex-контейнера */
.align-self-flex-start { /* Элемент распологается в верхней части */
    align-self: flex-start;
}

.align-self-start {
    align-self: start;
}

.align-self-flex-end {  /* Элемент распологается в нижней части */
    align-self: flex-end;
}

.align-self-end {
    align-self: end;
}

.align-self-flex-center {  /* Элемент распологается по центру */
    align-self: center;
}

.align-self-baseline {  /* Элемент выравнивается по базовой линии */
    align-self: baseline;
}

.align-self-stretch {  /* Элемент растягивается */
    align-self: stretch;
}

 /* Классы отвечающие за вертикальное позиционирование строчных элементов и содержимого ячеек таблицы */
.vertical-align-top {  /* Элемент распологается в нижней части */
    vertical-align: top !important;
}

.vertical-align-middle {  /* Элемент распологается по середине */
    vertical-align: middle !important;
}

.vertical-align-bottom {  /* Элемент выравнивается по базовой линии */
    vertical-align: bottom !important;
}

@media (min-width: 576px) {
    .justify-content-mobile-start {
        justify-content: flex-start;
    }

    .justify-content-mobile-end {
        justify-content: flex-end;
    }

    .justify-content-mobile-center {
        justify-content: center;
    }

    .justify-content-mobile-around {
        justify-content: space-around;
    }

    .justify-content-mobile-between {
        justify-content: space-between;
    }

    .align-items-mobile-flex-start {
        align-items: flex-start;
    }

    .align-items-mobile-center {
        align-items: center;
    }

    .align-items-mobile-flex-end {
        align-items: flex-end;
    }

    .align-items-mobile-baseline {
        align-items: baseline;
    }

    .align-items-mobile-stretch {
        align-items: stretch;
    }

    .align-self-mobile-flex-start {
        align-self: flex-start;
    }

    .align-self-mobile-flex-end {
        align-self: flex-end;
    }

    .align-self-mobile-center {
        align-self: center;
    }

    .align-self-mobile-baseline {
        align-self: baseline;
    }

    .align-self-mobile-stretch {
        align-self: stretch;
    }
}

@media (min-width: 768px) {
    .justify-content-tablet-start {
        justify-content: flex-start;
    }

    .justify-content-tablet-end {
        justify-content: flex-end;
    }

    .justify-content-tablet-center {
        justify-content: center;
    }

    .justify-content-tablet-around {
        justify-content: space-around;
    }

    .justify-content-tablet-between {
        justify-content: space-between;
    }

    .align-items-tablet-flex-start {
        align-items: flex-start;
    }

    .align-items-tablet-center {
        align-items: center;
    }

    .align-items-tablet-flex-end {
        align-items: flex-end;
    }

    .align-items-tablet-baseline {
        align-items: baseline;
    }

    .align-items-tablet-stretch {
        align-items: stretch;
    }

    .align-self-tablet-flex-start {
        align-self: flex-start;
    }

    .align-self-tablet-flex-end {
        align-self: flex-end;
    }

    .align-self-tablet-center {
        align-self: center;
    }

    .align-self-tablet-baseline {
        align-self: baseline;
    }

    .align-self-tablet-stretch {
        align-self: stretch;
    }
}

@media (min-width: 1024px) {
    .justify-content-desktop-start {
        justify-content: flex-start;
    }

    .justify-content-desktop-end {
        justify-content: flex-end;
    }

    .justify-content-desktop-center {
        justify-content: center;
    }

    .justify-content-desktop-around {
        justify-content: space-around;
    }

    .justify-content-desktop-between {
        justify-content: space-between;
    }

    .align-items-desktop-flex-start {
        align-items: flex-start;
    }

    .align-items-desktop-center {
        align-items: center;
    }

    .align-items-desktop-flex-end {
        align-items: flex-end;
    }

    .align-items-desktop-baseline {
        align-items: baseline;
    }

    .align-items-desktop-stretch {
        align-items: stretch;
    }

    .align-self-desktop-flex-start {
        align-self: flex-start;
    }

    .align-self-desktop-flex-end {
        align-self: flex-end;
    }

    .align-self-desktop-center {
        align-self: center;
    }

    .align-self-desktop-baseline {
        align-self: baseline;
    }

    .align-self-desktop-stretch {
        align-self: stretch;
    }
}

@media (min-width: 1216px) {
    .justify-content-widescreen-start {
        justify-content: flex-start;
    }

    .justify-content-widescreen-end {
        justify-content: flex-end;
    }

    .justify-content-widescreen-center {
        justify-content: center;
    }

    .justify-content-widescreen-around {
        justify-content: space-around;
    }

    .justify-content-widescreen-between {
        justify-content: space-between;
    }

    .align-items-widescreen-flex-start {
        align-items: flex-start;
    }

    .align-items-widescreen-center {
        align-items: center;
    }

    .align-items-widescreen-flex-end {
        align-items: flex-end;
    }

    .align-items-widescreen-baseline {
        align-items: baseline;
    }

    .align-items-widescreen-stretch {
        align-items: stretch;
    }

    .align-self-widescreen-flex-start {
        align-self: flex-start;
    }

    .align-self-widescreen-flex-end {
        align-self: flex-end;
    }

    .align-self-widescreen-center {
        align-self: center;
    }

    .align-self-widescreen-baseline {
        align-self: baseline;
    }

    .align-self-widescreen-stretch {
        align-self: stretch;
    }
}

@media (min-width: 1408px) {
    .justify-content-fullhd-start {
        justify-content: flex-start;
    }

    .justify-content-fullhd-end {
        justify-content: flex-end;
    }

    .justify-content-fullhd-center {
        justify-content: center;
    }

    .justify-content-fullhd-around {
        justify-content: space-around;
    }

    .justify-content-fullhd-between {
        justify-content: space-between;
    }

    .align-items-fullhd-flex-start {
        align-items: flex-start;
    }

    .align-items-fullhd-center {
        align-items: center;
    }

    .align-items-fullhd-flex-end {
        align-items: flex-end;
    }

    .align-items-fullhd-baseline {
        align-items: baseline;
    }

    .align-items-fullhd-stretch {
        align-items: stretch;
    }

    .align-self-fullhd-flex-start {
        align-self: flex-start;
    }

    .align-self-fullhd-flex-end {
        align-self: flex-end;
    }

    .align-self-fullhd-center {
        align-self: center;
    }

    .align-self-fullhd-baseline {
        align-self: baseline;
    }

    .align-self-fullhd-stretch {
        align-self: stretch;
    }
}