.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-inline-flex {
    display: inline-flex;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

@media (min-width: 576px) {
    .display-mobile-none {
        display: none;
    }

    .display-mobile-flex {
        display: flex;
    }

    .display-mobile-inline-flex {
        display: inline-flex;
    }

    .display-mobile-block {
        display: block;
    }

    .display-mobile-inline-block {
        display: inline-block;
    }

    .display-mobile-inline {
        display: inline;
    }
}

@media (min-width: 768px) {
    .display-tablet-none {
        display: none;
    }

    .display-tablet-flex {
        display: flex;
    }

    .display-tablet-inline-flex {
        display: inline-flex;
    }

    .display-tablet-block {
        display: block;
    }

    .display-tablet-inline-block {
        display: inline-block;
    }

    .display-tablet-inline {
        display: inline;
    }
}

@media (min-width: 1024px) {
    .display-desktop-none {
        display: none;
    }

    .display-desktop-flex {
        display: flex;
    }

    .display-desktop-inline-flex {
        display: inline-flex;
    }

    .display-desktop-block {
        display: block;
    }

    .display-desktop-inline-block {
        display: inline-block;
    }

    .display-desktop-inline {
        display: inline;
    }
}

@media (min-width: 1216px) {
    .display-widescreen-none {
        display: none;
    }

    .display-widescreen-flex {
        display: flex;
    }

    .display-widescreen-inline-flex {
        display: inline-flex;
    }

    .display-widescreen-block {
        display: block;
    }

    .display-widescreen-inline-block {
        display: inline-block;
    }

    .display-widescreen-inline {
        display: inline;
    }
}

@media (min-width: 1408px) {
    .display-fullhd-none {
        display: none;
    }

    .display-fullhd-flex {
        display: flex;
    }

    .display-fullhd-inline-flex {
        display: inline-flex;
    }

    .display-fullhd-block {
        display: block;
    }

    .display-fullhd-inline-block {
        display: inline-block;
    }

    .display-fullhd-inline {
        display: inline;
    }
}
