:root
{
    --font-family: arial;
    --font-family-sans-serif: var(--font-family), sans-serif;
    --font-family-monospace: monospace;
    --font-size: 1rem;
    --font-style: inherit;
    --font-weight: inherit;
}

/*
    Обычное начертание текста
*/
.font-style-normal
{
    font-style: normal;
}

/*
    Курсивное начертание
*/
.font-style-italic
{
    font-style: italic;
}

/*
    Нормальная насыщенность шрифта
 */
.font-weight-normal
{
    font-weight: normal;
}

/*
    Жирная насыщенность шрифта
 */
.font-weight-bold
{
    font-weight: bold;
}

/*
    Жирная насыщенность шрифта с курсивным начертанием
 */
.font-bold-italic
{
    font-weight: bold;
    font-style: italic;
}
