@import "grid/offset.css";
@import "grid/flex.css";
@import "grid/flex.css";
@import "grid/grid-layout.css";

:root
{
	--breakpoint-mobile-size: 540px;
	--breakpoint-tablet-size: 720px;
	--breakpoint-desktop-size: 960px;
	--breakpoint-widescreen-size: 1152px;
	--breakpoint-fullhd-size: 1344px;
}

