.margin-0
{
	margin: 0;
}

.margin-top-0
{
	margin-top: 0;
}

.margin-bottom-0
{
	margin-bottom: 0;
}

.margin-right-0
{
	margin-right: 0;
}

.margin-left-0
{
	margin-left: 0;
}

.margin-x-0
{
	margin-right: 0;
	margin-left: 0;
}

.margin-y-0
{
	margin-top: 0;
	margin-bottom: 0;
}

.margin-1
{
	margin: var(--size-1);
}

.margin-top-1
{
	margin-top: var(--size-1);
}

.margin-bottom-1
{
	margin-bottom: var(--size-1);
}

.margin-right-1
{
	margin-right: var(--size-1);
}

.margin-left-1
{
	margin-left: var(--size-1);
}

.margin-x-1
{
	margin-right: var(--size-1);
	margin-left: var(--size-1);
}

.margin-y-1
{
	margin-top: var(--size-1);
	margin-bottom: var(--size-1);
}

.margin-2
{
	margin: var(--size-2);
}

.margin-top-2
{
	margin-top: var(--size-2);
}

.margin-bottom-2
{
	margin-bottom: var(--size-2);
}

.margin-right-2
{
	margin-right: var(--size-2);
}

.margin-left-2
{
	margin-left: var(--size-2);
}

.margin-x-2
{
	margin-right: var(--size-2);
	margin-left: var(--size-2);
}

.margin-y-2
{
	margin-top: var(--size-2);
	margin-bottom: var(--size-2);
}

.margin-3
{
	margin: var(--size-3);
}

.margin-top-3
{
	margin-top: var(--size-3);
}

.margin-bottom-3
{
	margin-bottom: var(--size-3);
}

.margin-right-3
{
	margin-right: var(--size-3);
}

.margin-left-3
{
	margin-left: var(--size-3);
}

.margin-x-3
{
	margin-right: var(--size-3);
	margin-left: var(--size-3);
}

.margin-y-3
{
	margin-top: var(--size-3);
	margin-bottom: var(--size-3);
}

.margin-4
{
	margin: var(--size-4);
}

.margin-top-4
{
	margin-top: var(--size-4);
}

.margin-bottom-4
{
	margin-bottom: var(--size-4);
}

.margin-right-4
{
	margin-right: var(--size-4);
}

.margin-left-4
{
	margin-left: var(--size-4);
}

.margin-x-4
{
	margin-right: var(--size-4);
	margin-left: var(--size-4);
}

.margin-y-4
{
	margin-top: var(--size-4);
	margin-bottom: var(--size-4);
}

.margin-5
{
	margin: var(--size-5);
}

.margin-top-5
{
	margin-top: var(--size-5);
}

.margin-bottom-5
{
	margin-bottom: var(--size-5);
}

.margin-right-5
{
	margin-right: var(--size-5);
}

.margin-left-5
{
	margin-left: var(--size-5);
}

.margin-x-5
{
	margin-right: var(--size-5);
	margin-left: var(--size-5);
}

.margin-y-5
{
	margin-top: var(--size-5);
	margin-bottom: var(--size-5);
}

.margin-auto
{
	margin: auto;
}

.margin-top-auto
{
	margin-top: auto;
}

.margin-bottom-auto
{
	margin-bottom: auto;
}

.margin-right-auto
{
	margin-right: auto;
}

.margin-left-auto
{
	margin-left: auto;
}

.margin-x-auto
{
	margin-right: auto;
	margin-left: auto;
}

.margin-y-auto
{
	margin-top: auto;
	margin-bottom: auto;
}

@media (min-width: 576px)
{
	.margin-mobile-0
	{
		margin: 0;
	}

	.margin-top-mobile-0
	{
		margin-top: 0;
	}

	.margin-bottom-mobile-0
	{
		margin-bottom: 0;
	}

	.margin-right-mobile-0
	{
		margin-right: 0;
	}

	.margin-left-mobile-0
	{
		margin-left: 0;
	}

	.margin-x-mobile-0
	{
		margin-right: 0;
		margin-left: 0;
	}

	.margin-y-mobile-0
	{
		margin-top: 0;
		margin-bottom: 0;
	}

	.margin-mobile-1
	{
		margin: var(--size-1);
	}

	.margin-top-mobile-1
	{
		margin-top: var(--size-1);
	}

	.margin-bottom-mobile-1
	{
		margin-bottom: var(--size-1);
	}

	.margin-right-mobile-1
	{
		margin-right: var(--size-1);
	}

	.margin-left-mobile-1
	{
		margin-left: var(--size-1);
	}

	.margin-x-mobile-1
	{
		margin-right: var(--size-1);
		margin-left: var(--size-1);
	}

	.margin-y-mobile-1
	{
		margin-top: var(--size-1);
		margin-bottom: var(--size-1);
	}

	.margin-mobile-2
	{
		margin: var(--size-2);
	}

	.margin-top-mobile-2
	{
		margin-top: var(--size-2);
	}

	.margin-bottom-mobile-2
	{
		margin-bottom: var(--size-2);
	}

	.margin-right-mobile-2
	{
		margin-right: var(--size-2);
	}

	.margin-left-mobile-2
	{
		margin-left: var(--size-2);
	}

	.margin-x-mobile-2
	{
		margin-right: var(--size-2);
		margin-left: var(--size-2);
	}

	.margin-y-mobile-2
	{
		margin-top: var(--size-2);
		margin-bottom: var(--size-2);
	}

	.margin-mobile-3
	{
		margin: var(--size-3);
	}

	.margin-top-mobile-3
	{
		margin-top: var(--size-3);
	}

	.margin-bottom-mobile-3
	{
		margin-bottom: var(--size-3);
	}

	.margin-right-mobile-3
	{
		margin-right: var(--size-3);
	}

	.margin-left-mobile-3
	{
		margin-left: var(--size-3);
	}

	.margin-x-mobile-3
	{
		margin-right: var(--size-3);
		margin-left: var(--size-3);
	}

	.margin-y-mobile-3
	{
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}

	.margin-mobile-4
	{
		margin: var(--size-4);
	}

	.margin-top-mobile-4
	{
		margin-top: var(--size-4);
	}

	.margin-bottom-mobile-4
	{
		margin-bottom: var(--size-4);
	}

	.margin-right-mobile-4
	{
		margin-right: var(--size-4);
	}

	.margin-left-mobile-4
	{
		margin-left: var(--size-4);
	}

	.margin-x-mobile-4
	{
		margin-right: var(--size-4);
		margin-left: var(--size-4);
	}

	.margin-y-mobile-4
	{
		margin-top: var(--size-4);
		margin-bottom: var(--size-4);
	}

	.margin-mobile-5
	{
		margin: var(--size-5);
	}

	.margin-top-mobile-5
	{
		margin-top: var(--size-5);
	}

	.margin-bottom-mobile-5
	{
		margin-bottom: var(--size-5);
	}

	.margin-right-mobile-5
	{
		margin-right: var(--size-5);
	}

	.margin-left-mobile-5
	{
		margin-left: var(--size-5);
	}

	.margin-x-mobile-5
	{
		margin-right: var(--size-5);
		margin-left: var(--size-5);
	}

	.margin-y-mobile-5
	{
		margin-top: var(--size-5);
		margin-bottom: var(--size-5);
	}

	.margin-mobile-auto
	{
		margin: auto;
	}

	.margin-top-mobile-auto
	{
		margin-top: auto;
	}

	.margin-bottom-mobile-auto
	{
		margin-bottom: auto;
	}

	.margin-right-mobile-auto
	{
		margin-right: auto;
	}

	.margin-left-mobile-auto
	{
		margin-left: auto;
	}

	.margin-x-mobile-auto
	{
		margin-right: auto;
		margin-left: auto;
	}

	.margin-y-mobile-auto
	{
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media (min-width: 768px)
{
	.margin-tablet-0
	{
		margin: 0;
	}

	.margin-top-tablet-0
	{
		margin-top: 0;
	}

	.margin-bottom-tablet-0
	{
		margin-bottom: 0;
	}

	.margin-right-tablet-0
	{
		margin-right: 0;
	}

	.margin-left-tablet-0
	{
		margin-left: 0;
	}

	.margin-x-tablet-0
	{
		margin-right: 0;
		margin-left: 0;
	}

	.margin-y-tablet-0
	{
		margin-top: 0;
		margin-bottom: 0;
	}

	.margin-tablet-1
	{
		margin: var(--size-1);
	}

	.margin-top-tablet-1
	{
		margin-top: var(--size-1);
	}

	.margin-bottom-tablet-1
	{
		margin-bottom: var(--size-1);
	}

	.margin-right-tablet-1
	{
		margin-right: var(--size-1);
	}

	.margin-left-tablet-1
	{
		margin-left: var(--size-1);
	}

	.margin-x-tablet-1
	{
		margin-right: var(--size-1);
		margin-left: var(--size-1);
	}

	.margin-y-tablet-1
	{
		margin-top: var(--size-1);
		margin-bottom: var(--size-1);
	}

	.margin-tablet-2
	{
		margin: var(--size-2);
	}

	.margin-top-tablet-2
	{
		margin-top: var(--size-2);
	}

	.margin-bottom-tablet-2
	{
		margin-bottom: var(--size-2);
	}

	.margin-right-tablet-2
	{
		margin-right: var(--size-2);
	}

	.margin-left-tablet-2
	{
		margin-left: var(--size-2);
	}

	.margin-x-tablet-2
	{
		margin-right: var(--size-2);
		margin-left: var(--size-2);
	}

	.margin-y-tablet-2
	{
		margin-top: var(--size-2);
		margin-bottom: var(--size-2);
	}

	.margin-tablet-3
	{
		margin: var(--size-3);
	}

	.margin-top-tablet-3
	{
		margin-top: var(--size-3);
	}

	.margin-bottom-tablet-3
	{
		margin-bottom: var(--size-3);
	}

	.margin-right-tablet-3
	{
		margin-right: var(--size-3);
	}

	.margin-left-tablet-3
	{
		margin-left: var(--size-3);
	}

	.margin-x-tablet-3
	{
		margin-right: var(--size-3);
		margin-left: var(--size-3);
	}

	.margin-y-tablet-3
	{
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}

	.margin-tablet-4
	{
		margin: var(--size-4);
	}

	.margin-top-tablet-4
	{
		margin-top: var(--size-4);
	}

	.margin-bottom-tablet-4
	{
		margin-bottom: var(--size-4);
	}

	.margin-right-tablet-4
	{
		margin-right: var(--size-4);
	}

	.margin-left-tablet-4
	{
		margin-left: var(--size-4);
	}

	.margin-x-tablet-4
	{
		margin-right: var(--size-4);
		margin-left: var(--size-4);
	}

	.margin-y-tablet-4
	{
		margin-top: var(--size-4);
		margin-bottom: var(--size-4);
	}

	.margin-tablet-5
	{
		margin: var(--size-5);
	}

	.margin-top-tablet-5
	{
		margin-top: var(--size-5);
	}

	.margin-bottom-tablet-5
	{
		margin-bottom: var(--size-5);
	}

	.margin-right-tablet-5
	{
		margin-right: var(--size-5);
	}

	.margin-left-tablet-5
	{
		margin-left: var(--size-5);
	}

	.margin-x-tablet-5
	{
		margin-right: var(--size-5);
		margin-left: var(--size-5);
	}

	.margin-y-tablet-5
	{
		margin-top: var(--size-5);
		margin-bottom: var(--size-5);
	}

	.margin-tablet-auto
	{
		margin: auto;
	}

	.margin-top-tablet-auto
	{
		margin-top: auto;
	}

	.margin-bottom-tablet-auto
	{
		margin-bottom: auto;
	}

	.margin-right-tablet-auto
	{
		margin-right: auto;
	}

	.margin-left-tablet-auto
	{
		margin-left: auto;
	}

	.margin-x-tablet-auto
	{
		margin-right: auto;
		margin-left: auto;
	}

	.margin-y-tablet-auto
	{
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media (min-width: 1024px)
{
	.margin-desktop-0
	{
		margin: 0;
	}

	.margin-top-desktop-0
	{
		margin-top: 0;
	}

	.margin-bottom-desktop-0
	{
		margin-bottom: 0;
	}

	.margin-right-desktop-0
	{
		margin-right: 0;
	}

	.margin-left-desktop-0
	{
		margin-left: 0;
	}

	.margin-x-desktop-0
	{
		margin-right: 0;
		margin-left: 0;
	}

	.margin-y-desktop-0
	{
		margin-top: 0;
		margin-bottom: 0;
	}

	.margin-desktop-1
	{
		margin: var(--size-1);
	}

	.margin-top-desktop-1
	{
		margin-top: var(--size-1);
	}

	.margin-bottom-desktop-1
	{
		margin-bottom: var(--size-1);
	}

	.margin-right-desktop-1
	{
		margin-right: var(--size-1);
	}

	.margin-left-desktop-1
	{
		margin-left: var(--size-1);
	}

	.margin-x-desktop-1
	{
		margin-right: var(--size-1);
		margin-left: var(--size-1);
	}

	.margin-y-desktop-1
	{
		margin-top: var(--size-1);
		margin-bottom: var(--size-1);
	}

	.margin-desktop-2
	{
		margin: var(--size-2);
	}

	.margin-top-desktop-2
	{
		margin-top: var(--size-2);
	}

	.margin-bottom-desktop-2
	{
		margin-bottom: var(--size-2);
	}

	.margin-right-desktop-2
	{
		margin-right: var(--size-2);
	}

	.margin-left-desktop-2
	{
		margin-left: var(--size-2);
	}

	.margin-x-desktop-2
	{
		margin-right: var(--size-2);
		margin-left: var(--size-2);
	}

	.margin-y-desktop-2
	{
		margin-top: var(--size-2);
		margin-bottom: var(--size-2);
	}

	.margin-desktop-3
	{
		margin: var(--size-3);
	}

	.margin-top-desktop-3
	{
		margin-top: var(--size-3);
	}

	.margin-bottom-desktop-3
	{
		margin-bottom: var(--size-3);
	}

	.margin-right-desktop-3
	{
		margin-right: var(--size-3);
	}

	.margin-left-desktop-3
	{
		margin-left: var(--size-3);
	}

	.margin-x-desktop-3
	{
		margin-right: var(--size-3);
		margin-left: var(--size-3);
	}

	.margin-y-desktop-3
	{
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}

	.margin-desktop-4
	{
		margin: var(--size-4);
	}

	.margin-top-desktop-4
	{
		margin-top: var(--size-4);
	}

	.margin-bottom-desktop-4
	{
		margin-bottom: var(--size-4);
	}

	.margin-right-desktop-4
	{
		margin-right: var(--size-4);
	}

	.margin-left-desktop-4
	{
		margin-left: var(--size-4);
	}

	.margin-x-desktop-4
	{
		margin-right: var(--size-4);
		margin-left: var(--size-4);
	}

	.margin-y-desktop-4
	{
		margin-top: var(--size-4);
		margin-bottom: var(--size-4);
	}

	.margin-desktop-5
	{
		margin: var(--size-5);
	}

	.margin-top-desktop-5
	{
		margin-top: var(--size-5);
	}

	.margin-bottom-desktop-5
	{
		margin-bottom: var(--size-5);
	}

	.margin-right-desktop-5
	{
		margin-right: var(--size-5);
	}

	.margin-left-desktop-5
	{
		margin-left: var(--size-5);
	}

	.margin-x-desktop-5
	{
		margin-right: var(--size-5);
		margin-left: var(--size-5);
	}

	.margin-y-desktop-5
	{
		margin-top: var(--size-5);
		margin-bottom: var(--size-5);
	}

	.margin-desktop-auto
	{
		margin: auto;
	}

	.margin-top-desktop-auto
	{
		margin-top: auto;
	}

	.margin-bottom-desktop-auto
	{
		margin-bottom: auto;
	}

	.margin-right-desktop-auto
	{
		margin-right: auto;
	}

	.margin-left-desktop-auto
	{
		margin-left: auto;
	}

	.margin-x-desktop-auto
	{
		margin-right: auto;
		margin-left: auto;
	}

	.margin-y-desktop-auto
	{
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media (min-width: 1216px)
{
	.margin-widescreen-0
	{
		margin: 0;
	}

	.margin-top-widescreen-0
	{
		margin-top: 0;
	}

	.margin-bottom-widescreen-0
	{
		margin-bottom: 0;
	}

	.margin-right-widescreen-0
	{
		margin-right: 0;
	}

	.margin-left-widescreen-0
	{
		margin-left: 0;
	}

	.margin-x-widescreen-0
	{
		margin-right: 0;
		margin-left: 0;
	}

	.margin-y-widescreen-0
	{
		margin-top: 0;
		margin-bottom: 0;
	}

	.margin-widescreen-1
	{
		margin: var(--size-1);
	}

	.margin-top-widescreen-1
	{
		margin-top: var(--size-1);
	}

	.margin-bottom-widescreen-1
	{
		margin-bottom: var(--size-1);
	}

	.margin-right-widescreen-1
	{
		margin-right: var(--size-1);
	}

	.margin-left-widescreen-1
	{
		margin-left: var(--size-1);
	}

	.margin-x-widescreen-1
	{
		margin-right: var(--size-1);
		margin-left: var(--size-1);
	}

	.margin-y-widescreen-1
	{
		margin-top: var(--size-1);
		margin-bottom: var(--size-1);
	}

	.margin-widescreen-2
	{
		margin: var(--size-2);
	}

	.margin-top-widescreen-2
	{
		margin-top: var(--size-2);
	}

	.margin-bottom-widescreen-2
	{
		margin-bottom: var(--size-2);
	}

	.margin-right-widescreen-2
	{
		margin-right: var(--size-2);
	}

	.margin-left-widescreen-2
	{
		margin-left: var(--size-2);
	}

	.margin-x-widescreen-2
	{
		margin-right: var(--size-2);
		margin-left: var(--size-2);
	}

	.margin-y-widescreen-2
	{
		margin-top: var(--size-2);
		margin-bottom: var(--size-2);
	}

	.margin-widescreen-3
	{
		margin: var(--size-3);
	}

	.margin-top-widescreen-3
	{
		margin-top: var(--size-3);
	}

	.margin-bottom-widescreen-3
	{
		margin-bottom: var(--size-3);
	}

	.margin-right-widescreen-3
	{
		margin-right: var(--size-3);
	}

	.margin-left-widescreen-3
	{
		margin-left: var(--size-3);
	}

	.margin-x-widescreen-3
	{
		margin-right: var(--size-3);
		margin-left: var(--size-3);
	}

	.margin-y-widescreen-3
	{
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}

	.margin-widescreen-4
	{
		margin: var(--size-4);
	}

	.margin-top-widescreen-4
	{
		margin-top: var(--size-4);
	}

	.margin-bottom-widescreen-4
	{
		margin-bottom: var(--size-4);
	}

	.margin-right-widescreen-4
	{
		margin-right: var(--size-4);
	}

	.margin-left-widescreen-4
	{
		margin-left: var(--size-4);
	}

	.margin-x-widescreen-4
	{
		margin-right: var(--size-4);
		margin-left: var(--size-4);
	}

	.margin-y-widescreen-4
	{
		margin-top: var(--size-4);
		margin-bottom: var(--size-4);
	}

	.margin-widescreen-5
	{
		margin: var(--size-5);
	}

	.margin-top-widescreen-5
	{
		margin-top: var(--size-5);
	}

	.margin-bottom-widescreen-5
	{
		margin-bottom: var(--size-5);
	}

	.margin-right-widescreen-5
	{
		margin-right: var(--size-5);
	}

	.margin-left-widescreen-5
	{
		margin-left: var(--size-5);
	}

	.margin-x-widescreen-5
	{
		margin-right: var(--size-5);
		margin-left: var(--size-5);
	}

	.margin-y-widescreen-5
	{
		margin-top: var(--size-5);
		margin-bottom: var(--size-5);
	}

	.margin-widescreen-auto
	{
		margin: auto;
	}

	.margin-top-widescreen-auto
	{
		margin-top: auto;
	}

	.margin-bottom-widescreen-auto
	{
		margin-bottom: auto;
	}

	.margin-right-widescreen-auto
	{
		margin-right: auto;
	}

	.margin-left-widescreen-auto
	{
		margin-left: auto;
	}

	.margin-x-widescreen-auto
	{
		margin-right: auto;
		margin-left: auto;
	}

	.margin-y-widescreen-auto
	{
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media (min-width: 1408px)
{
	.margin-fullhd-0
	{
		margin: 0;
	}

	.margin-top-fullhd-0
	{
		margin-top: 0;
	}

	.margin-bottom-fullhd-0
	{
		margin-bottom: 0;
	}

	.margin-right-fullhd-0
	{
		margin-right: 0;
	}

	.margin-left-fullhd-0
	{
		margin-left: 0;
	}

	.margin-x-fullhd-0
	{
		margin-right: 0;
		margin-left: 0;
	}

	.margin-y-fullhd-0
	{
		margin-top: 0;
		margin-bottom: 0;
	}

	.margin-fullhd-1
	{
		margin: var(--size-1);
	}

	.margin-top-fullhd-1
	{
		margin-top: var(--size-1);
	}

	.margin-bottom-fullhd-1
	{
		margin-bottom: var(--size-1);
	}

	.margin-right-fullhd-1
	{
		margin-right: var(--size-1);
	}

	.margin-left-fullhd-1
	{
		margin-left: var(--size-1);
	}

	.margin-x-fullhd-1
	{
		margin-right: var(--size-1);
		margin-left: var(--size-1);
	}

	.margin-y-fullhd-1
	{
		margin-top: var(--size-1);
		margin-bottom: var(--size-1);
	}

	.margin-fullhd-2
	{
		margin: var(--size-2);
	}

	.margin-top-fullhd-2
	{
		margin-top: var(--size-2);
	}

	.margin-bottom-fullhd-2
	{
		margin-bottom: var(--size-2);
	}

	.margin-right-fullhd-2
	{
		margin-right: var(--size-2);
	}

	.margin-left-fullhd-2
	{
		margin-left: var(--size-2);
	}

	.margin-x-fullhd-2
	{
		margin-right: var(--size-2);
		margin-left: var(--size-2);
	}

	.margin-y-fullhd-2
	{
		margin-top: var(--size-2);
		margin-bottom: var(--size-2);
	}

	.margin-fullhd-3
	{
		margin: var(--size-3);
	}

	.margin-top-fullhd-3
	{
		margin-top: var(--size-3);
	}

	.margin-bottom-fullhd-3
	{
		margin-bottom: var(--size-3);
	}

	.margin-right-fullhd-3
	{
		margin-right: var(--size-3);
	}

	.margin-left-fullhd-3
	{
		margin-left: var(--size-3);
	}

	.margin-x-fullhd-3
	{
		margin-right: var(--size-3);
		margin-left: var(--size-3);
	}

	.margin-y-fullhd-3
	{
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}

	.margin-fullhd-4
	{
		margin: var(--size-4);
	}

	.margin-top-fullhd-4
	{
		margin-top: var(--size-4);
	}

	.margin-bottom-fullhd-4
	{
		margin-bottom: var(--size-4);
	}

	.margin-right-fullhd-4
	{
		margin-right: var(--size-4);
	}

	.margin-left-fullhd-4
	{
		margin-left: var(--size-4);
	}

	.margin-x-fullhd-4
	{
		margin-right: var(--size-4);
		margin-left: var(--size-4);
	}

	.margin-y-fullhd-4
	{
		margin-top: var(--size-4);
		margin-bottom: var(--size-4);
	}

	.margin-fullhd-5
	{
		margin: var(--size-5);
	}

	.margin-top-fullhd-5
	{
		margin-top: var(--size-5);
	}

	.margin-bottom-fullhd-5
	{
		margin-bottom: var(--size-5);
	}

	.margin-right-fullhd-5
	{
		margin-right: var(--size-5);
	}

	.margin-left-fullhd-5
	{
		margin-left: var(--size-5);
	}

	.margin-x-fullhd-5
	{
		margin-right: var(--size-5);
		margin-left: var(--size-5);
	}

	.margin-y-fullhd-5
	{
		margin-top: var(--size-5);
		margin-bottom: var(--size-5);
	}

	.margin-fullhd-auto
	{
		margin: auto;
	}

	.margin-top-fullhd-auto
	{
		margin-top: auto;
	}

	.margin-bottom-fullhd-auto
	{
		margin-bottom: auto;
	}

	.margin-right-fullhd-auto
	{
		margin-right: auto;
	}

	.margin-left-fullhd-auto
	{
		margin-left: auto;
	}

	.margin-x-fullhd-auto
	{
		margin-right: auto;
		margin-left: auto;
	}

	.margin-y-fullhd-auto
	{
		margin-top: auto;
		margin-bottom: auto;
	}
}