.padding-0
{
	padding: 0;
}

.padding-top-0
{
	padding-top: 0;
}

.padding-bottom-0
{
	padding-bottom: 0;
}

.padding-right-0
{
	padding-right: 0;
}

.padding-left-0
{
	padding-left: 0;
}

.padding-x-0
{
	padding-right: 0;
	padding-left: 0;
}

.padding-y-0
{
	padding-top: 0;
	padding-bottom: 0;
}

.padding-1
{
	padding: var(--size-1);
}

.padding-top-1
{
	padding-top: var(--size-1);
}

.padding-bottom-1
{
	padding-bottom: var(--size-1);
}

.padding-right-1
{
	padding-right: var(--size-1);
}

.padding-left-1
{
	padding-left: var(--size-1);
}

.padding-x-1
{
	padding-right: var(--size-1);
	padding-left: var(--size-1);
}

.padding-y-1
{
	padding-top: var(--size-1);
	padding-bottom: var(--size-1);
}

.padding-2
{
	padding: var(--size-2);
}

.padding-top-2
{
	padding-top: var(--size-2);
}

.padding-bottom-2
{
	padding-bottom: var(--size-2);
}

.padding-right-2
{
	padding-right: var(--size-2);
}

.padding-left-2
{
	padding-left: var(--size-2);
}

.padding-x-2
{
	padding-right: var(--size-2);
	padding-left: var(--size-2);
}

.padding-y-2
{
	padding-top: var(--size-2);
	padding-bottom: var(--size-2);
}

.padding-3
{
	padding: var(--size-3);
}

.padding-top-3
{
	padding-top: var(--size-3);
}

.padding-bottom-3
{
	padding-bottom: var(--size-3);
}

.padding-right-3
{
	padding-right: var(--size-3);
}

.padding-left-3
{
	padding-left: var(--size-3);
}

.padding-x-3
{
	padding-right: var(--size-3);
	padding-left: var(--size-3);
}

.padding-y-3
{
	padding-top: var(--size-3);
	padding-bottom: var(--size-3);
}

.padding-4
{
	padding: var(--size-4);
}

.padding-top-4
{
	padding-top: var(--size-4);
}

.padding-bottom-4
{
	padding-bottom: var(--size-4);
}

.padding-right-4
{
	padding-right: var(--size-4);
}

.padding-left-4
{
	padding-left: var(--size-4);
}

.padding-x-4
{
	padding-right: var(--size-4);
	padding-left: var(--size-4);
}

.padding-y-4
{
	padding-top: var(--size-4);
	padding-bottom: var(--size-4);
}

.padding-5
{
	padding: var(--size-5);
}

.padding-top-5
{
	padding-top: var(--size-5);
}

.padding-bottom-5
{
	padding-bottom: var(--size-5);
}

.padding-right-5
{
	padding-right: var(--size-5);
}

.padding-left-5
{
	padding-left: var(--size-5);
}

.padding-x-5
{
	padding-right: var(--size-5);
	padding-left: var(--size-5);
}

.padding-y-5
{
	padding-top: var(--size-5);
	padding-bottom: var(--size-5);
}

@media (min-width: 576px)
{
	.padding-mobile-0
	{
		padding: 0;
	}

	.padding-top-mobile-0
	{
		padding-top: 0;
	}

	.padding-bottom-mobile-0
	{
		padding-bottom: 0;
	}

	.padding-right-mobile-0
	{
		padding-right: 0;
	}

	.padding-left-mobile-0
	{
		padding-left: 0;
	}

	.padding-x-mobile-0
	{
		padding-right: 0;
		padding-left: 0;
	}

	.padding-y-mobile-0
	{
		padding-top: 0;
		padding-bottom: 0;
	}

	.padding-mobile-1
	{
		padding: var(--size-1);
	}

	.padding-top-mobile-1
	{
		padding-top: var(--size-1);
	}

	.padding-bottom-mobile-1
	{
		padding-bottom: var(--size-1);
	}

	.padding-right-mobile-1
	{
		padding-right: var(--size-1);
	}

	.padding-left-mobile-1
	{
		padding-left: var(--size-1);
	}

	.padding-x-mobile-1
	{
		padding-right: var(--size-1);
		padding-left: var(--size-1);
	}

	.padding-y-mobile-1
	{
		padding-top: var(--size-1);
		padding-bottom: var(--size-1);
	}

	.padding-mobile-2
	{
		padding: var(--size-2);
	}

	.padding-top-mobile-2
	{
		padding-top: var(--size-2);
	}

	.padding-bottom-mobile-2
	{
		padding-bottom: var(--size-2);
	}

	.padding-right-mobile-2
	{
		padding-right: var(--size-2);
	}

	.padding-left-mobile-2
	{
		padding-left: var(--size-2);
	}

	.padding-x-mobile-2
	{
		padding-right: var(--size-2);
		padding-left: var(--size-2);
	}

	.padding-y-mobile-2
	{
		padding-top: var(--size-2);
		padding-bottom: var(--size-2);
	}

	.padding-mobile-3
	{
		padding: var(--size-3);
	}

	.padding-top-mobile-3
	{
		padding-top: var(--size-3);
	}

	.padding-bottom-mobile-3
	{
		padding-bottom: var(--size-3);
	}

	.padding-right-mobile-3
	{
		padding-right: var(--size-3);
	}

	.padding-left-mobile-3
	{
		padding-left: var(--size-3);
	}

	.padding-x-mobile-3
	{
		padding-right: var(--size-3);
		padding-left: var(--size-3);
	}

	.padding-y-mobile-3
	{
		padding-top: var(--size-3);
		padding-bottom: var(--size-3);
	}

	.padding-mobile-4
	{
		padding: var(--size-4);
	}

	.padding-top-mobile-4
	{
		padding-top: var(--size-4);
	}

	.padding-bottom-mobile-4
	{
		padding-bottom: var(--size-4);
	}

	.padding-right-mobile-4
	{
		padding-right: var(--size-4);
	}

	.padding-left-mobile-4
	{
		padding-left: var(--size-4);
	}

	.padding-x-mobile-4
	{
		padding-right: var(--size-4);
		padding-left: var(--size-4);
	}

	.padding-y-mobile-4
	{
		padding-top: var(--size-4);
		padding-bottom: var(--size-4);
	}

	.padding-mobile-5
	{
		padding: var(--size-5);
	}

	.padding-top-mobile-5
	{
		padding-top: var(--size-5);
	}

	.padding-bottom-mobile-5
	{
		padding-bottom: var(--size-5);
	}

	.padding-right-mobile-5
	{
		padding-right: var(--size-5);
	}

	.padding-left-mobile-5
	{
		padding-left: var(--size-5);
	}

	.padding-x-mobile-5
	{
		padding-right: var(--size-5);
		padding-left: var(--size-5);
	}

	.padding-y-mobile-5
	{
		padding-top: var(--size-5);
		padding-bottom: var(--size-5);
	}
}

@media (min-width: 768px)
{
	.padding-tablet-0
	{
		padding: 0;
	}

	.padding-top-tablet-0
	{
		padding-top: 0;
	}

	.padding-bottom-tablet-0
	{
		padding-bottom: 0;
	}

	.padding-right-tablet-0
	{
		padding-right: 0;
	}

	.padding-left-tablet-0
	{
		padding-left: 0;
	}

	.padding-x-tablet-0
	{
		padding-right: 0;
		padding-left: 0;
	}

	.padding-y-tablet-0
	{
		padding-top: 0;
		padding-bottom: 0;
	}

	.padding-tablet-1
	{
		padding: var(--size-1);
	}

	.padding-top-tablet-1
	{
		padding-top: var(--size-1);
	}

	.padding-bottom-tablet-1
	{
		padding-bottom: var(--size-1);
	}

	.padding-right-tablet-1
	{
		padding-right: var(--size-1);
	}

	.padding-left-tablet-1
	{
		padding-left: var(--size-1);
	}

	.padding-x-tablet-1
	{
		padding-right: var(--size-1);
		padding-left: var(--size-1);
	}

	.padding-y-tablet-1
	{
		padding-top: var(--size-1);
		padding-bottom: var(--size-1);
	}

	.padding-tablet-2
	{
		padding: var(--size-2);
	}

	.padding-top-tablet-2
	{
		padding-top: var(--size-2);
	}

	.padding-bottom-tablet-2
	{
		padding-bottom: var(--size-2);
	}

	.padding-right-tablet-2
	{
		padding-right: var(--size-2);
	}

	.padding-left-tablet-2
	{
		padding-left: var(--size-2);
	}

	.padding-x-tablet-2
	{
		padding-right: var(--size-2);
		padding-left: var(--size-2);
	}

	.padding-y-tablet-2
	{
		padding-top: var(--size-2);
		padding-bottom: var(--size-2);
	}

	.padding-tablet-3
	{
		padding: var(--size-3);
	}

	.padding-top-tablet-3
	{
		padding-top: var(--size-3);
	}

	.padding-bottom-tablet-3
	{
		padding-bottom: var(--size-3);
	}

	.padding-right-tablet-3
	{
		padding-right: var(--size-3);
	}

	.padding-left-tablet-3
	{
		padding-left: var(--size-3);
	}

	.padding-x-tablet-3
	{
		padding-right: var(--size-3);
		padding-left: var(--size-3);
	}

	.padding-y-tablet-3
	{
		padding-top: var(--size-3);
		padding-bottom: var(--size-3);
	}

	.padding-tablet-4
	{
		padding: var(--size-4);
	}

	.padding-top-tablet-4
	{
		padding-top: var(--size-4);
	}

	.padding-bottom-tablet-4
	{
		padding-bottom: var(--size-4);
	}

	.padding-right-tablet-4
	{
		padding-right: var(--size-4);
	}

	.padding-left-tablet-4
	{
		padding-left: var(--size-4);
	}

	.padding-x-tablet-4
	{
		padding-right: var(--size-4);
		padding-left: var(--size-4);
	}

	.padding-y-tablet-4
	{
		padding-top: var(--size-4);
		padding-bottom: var(--size-4);
	}

	.padding-tablet-5
	{
		padding: var(--size-5);
	}

	.padding-top-tablet-5
	{
		padding-top: var(--size-5);
	}

	.padding-bottom-tablet-5
	{
		padding-bottom: var(--size-5);
	}

	.padding-right-tablet-5
	{
		padding-right: var(--size-5);
	}

	.padding-left-tablet-5
	{
		padding-left: var(--size-5);
	}

	.padding-x-tablet-5
	{
		padding-right: var(--size-5);
		padding-left: var(--size-5);
	}

	.padding-y-tablet-5
	{
		padding-top: var(--size-5);
		padding-bottom: var(--size-5);
	}
}

@media (min-width: 1024px)
{
	.padding-desktop-0
	{
		padding: 0;
	}

	.padding-top-desktop-0
	{
		padding-top: 0;
	}

	.padding-bottom-desktop-0
	{
		padding-bottom: 0;
	}

	.padding-right-desktop-0
	{
		padding-right: 0;
	}

	.padding-left-desktop-0
	{
		padding-left: 0;
	}

	.padding-x-desktop-0
	{
		padding-right: 0;
		padding-left: 0;
	}

	.padding-y-desktop-0
	{
		padding-top: 0;
		padding-bottom: 0;
	}

	.padding-desktop-1
	{
		padding: var(--size-1);
	}

	.padding-top-desktop-1
	{
		padding-top: var(--size-1);
	}

	.padding-bottom-desktop-1
	{
		padding-bottom: var(--size-1);
	}

	.padding-right-desktop-1
	{
		padding-right: var(--size-1);
	}

	.padding-left-desktop-1
	{
		padding-left: var(--size-1);
	}

	.padding-x-desktop-1
	{
		padding-right: var(--size-1);
		padding-left: var(--size-1);
	}

	.padding-y-desktop-1
	{
		padding-top: var(--size-1);
		padding-bottom: var(--size-1);
	}

	.padding-desktop-2
	{
		padding: var(--size-2);
	}

	.padding-top-desktop-2
	{
		padding-top: var(--size-2);
	}

	.padding-bottom-desktop-2
	{
		padding-bottom: var(--size-2);
	}

	.padding-right-desktop-2
	{
		padding-right: var(--size-2);
	}

	.padding-left-desktop-2
	{
		padding-left: var(--size-2);
	}

	.padding-x-desktop-2
	{
		padding-right: var(--size-2);
		padding-left: var(--size-2);
	}

	.padding-y-desktop-2
	{
		padding-top: var(--size-2);
		padding-bottom: var(--size-2);
	}

	.padding-desktop-3
	{
		padding: var(--size-3);
	}

	.padding-top-desktop-3
	{
		padding-top: var(--size-3);
	}

	.padding-bottom-desktop-3
	{
		padding-bottom: var(--size-3);
	}

	.padding-right-desktop-3
	{
		padding-right: var(--size-3);
	}

	.padding-left-desktop-3
	{
		padding-left: var(--size-3);
	}

	.padding-x-desktop-3
	{
		padding-right: var(--size-3);
		padding-left: var(--size-3);
	}

	.padding-y-desktop-3
	{
		padding-top: var(--size-3);
		padding-bottom: var(--size-3);
	}

	.padding-desktop-4
	{
		padding: var(--size-4);
	}

	.padding-top-desktop-4
	{
		padding-top: var(--size-4);
	}

	.padding-bottom-desktop-4
	{
		padding-bottom: var(--size-4);
	}

	.padding-right-desktop-4
	{
		padding-right: var(--size-4);
	}

	.padding-left-desktop-4
	{
		padding-left: var(--size-4);
	}

	.padding-x-desktop-4
	{
		padding-right: var(--size-4);
		padding-left: var(--size-4);
	}

	.padding-y-desktop-4
	{
		padding-top: var(--size-4);
		padding-bottom: var(--size-4);
	}

	.padding-desktop-5
	{
		padding: var(--size-5);
	}

	.padding-top-desktop-5
	{
		padding-top: var(--size-5);
	}

	.padding-bottom-desktop-5
	{
		padding-bottom: var(--size-5);
	}

	.padding-right-desktop-5
	{
		padding-right: var(--size-5);
	}

	.padding-left-desktop-5
	{
		padding-left: var(--size-5);
	}

	.padding-x-desktop-5
	{
		padding-right: var(--size-5);
		padding-left: var(--size-5);
	}

	.padding-y-desktop-5
	{
		padding-top: var(--size-5);
		padding-bottom: var(--size-5);
	}
}

@media (min-width: 1216px)
{
	.padding-widescreen-0
	{
		padding: 0;
	}

	.padding-top-widescreen-0
	{
		padding-top: 0;
	}

	.padding-bottom-widescreen-0
	{
		padding-bottom: 0;
	}

	.padding-right-widescreen-0
	{
		padding-right: 0;
	}

	.padding-left-widescreen-0
	{
		padding-left: 0;
	}

	.padding-x-widescreen-0
	{
		padding-right: 0;
		padding-left: 0;
	}

	.padding-y-widescreen-0
	{
		padding-top: 0;
		padding-bottom: 0;
	}

	.padding-widescreen-1
	{
		padding: var(--size-1);
	}

	.padding-top-widescreen-1
	{
		padding-top: var(--size-1);
	}

	.padding-bottom-widescreen-1
	{
		padding-bottom: var(--size-1);
	}

	.padding-right-widescreen-1
	{
		padding-right: var(--size-1);
	}

	.padding-left-widescreen-1
	{
		padding-left: var(--size-1);
	}

	.padding-x-widescreen-1
	{
		padding-right: var(--size-1);
		padding-left: var(--size-1);
	}

	.padding-y-widescreen-1
	{
		padding-top: var(--size-1);
		padding-bottom: var(--size-1);
	}

	.padding-widescreen-2
	{
		padding: var(--size-2);
	}

	.padding-top-widescreen-2
	{
		padding-top: var(--size-2);
	}

	.padding-bottom-widescreen-2
	{
		padding-bottom: var(--size-2);
	}

	.padding-right-widescreen-2
	{
		padding-right: var(--size-2);
	}

	.padding-left-widescreen-2
	{
		padding-left: var(--size-2);
	}

	.padding-x-widescreen-2
	{
		padding-right: var(--size-2);
		padding-left: var(--size-2);
	}

	.padding-y-widescreen-2
	{
		padding-top: var(--size-2);
		padding-bottom: var(--size-2);
	}

	.padding-widescreen-3
	{
		padding: var(--size-3);
	}

	.padding-top-widescreen-3
	{
		padding-top: var(--size-3);
	}

	.padding-bottom-widescreen-3
	{
		padding-bottom: var(--size-3);
	}

	.padding-right-widescreen-3
	{
		padding-right: var(--size-3);
	}

	.padding-left-widescreen-3
	{
		padding-left: var(--size-3);
	}

	.padding-x-widescreen-3
	{
		padding-right: var(--size-3);
		padding-left: var(--size-3);
	}

	.padding-y-widescreen-3
	{
		padding-top: var(--size-3);
		padding-bottom: var(--size-3);
	}

	.padding-widescreen-4
	{
		padding: var(--size-4);
	}

	.padding-top-widescreen-4
	{
		padding-top: var(--size-4);
	}

	.padding-bottom-widescreen-4
	{
		padding-bottom: var(--size-4);
	}

	.padding-right-widescreen-4
	{
		padding-right: var(--size-4);
	}

	.padding-left-widescreen-4
	{
		padding-left: var(--size-4);
	}

	.padding-x-widescreen-4
	{
		padding-right: var(--size-4);
		padding-left: var(--size-4);
	}

	.padding-y-widescreen-4
	{
		padding-top: var(--size-4);
		padding-bottom: var(--size-4);
	}

	.padding-widescreen-5
	{
		padding: var(--size-5);
	}

	.padding-top-widescreen-5
	{
		padding-top: var(--size-5);
	}

	.padding-bottom-widescreen-5
	{
		padding-bottom: var(--size-5);
	}

	.padding-right-widescreen-5
	{
		padding-right: var(--size-5);
	}

	.padding-left-widescreen-5
	{
		padding-left: var(--size-5);
	}

	.padding-x-widescreen-5
	{
		padding-right: var(--size-5);
		padding-left: var(--size-5);
	}

	.padding-y-widescreen-5
	{
		padding-top: var(--size-5);
		padding-bottom: var(--size-5);
	}
}

@media (min-width: 1408px)
{
	.padding-fullhd-0
	{
		padding: 0;
	}

	.padding-top-fullhd-0
	{
		padding-top: 0;
	}

	.padding-bottom-fullhd-0
	{
		padding-bottom: 0;
	}

	.padding-right-fullhd-0
	{
		padding-right: 0;
	}

	.padding-left-fullhd-0
	{
		padding-left: 0;
	}

	.padding-x-fullhd-0
	{
		padding-right: 0;
		padding-left: 0;
	}

	.padding-y-fullhd-0
	{
		padding-top: 0;
		padding-bottom: 0;
	}

	.padding-fullhd-1
	{
		padding: var(--size-1);
	}

	.padding-top-fullhd-1
	{
		padding-top: var(--size-1);
	}

	.padding-bottom-fullhd-1
	{
		padding-bottom: var(--size-1);
	}

	.padding-right-fullhd-1
	{
		padding-right: var(--size-1);
	}

	.padding-left-fullhd-1
	{
		padding-left: var(--size-1);
	}

	.padding-x-fullhd-1
	{
		padding-right: var(--size-1);
		padding-left: var(--size-1);
	}

	.padding-y-fullhd-1
	{
		padding-top: var(--size-1);
		padding-bottom: var(--size-1);
	}

	.padding-fullhd-2
	{
		padding: var(--size-2);
	}

	.padding-top-fullhd-2
	{
		padding-top: var(--size-2);
	}

	.padding-bottom-fullhd-2
	{
		padding-bottom: var(--size-2);
	}

	.padding-right-fullhd-2
	{
		padding-right: var(--size-2);
	}

	.padding-left-fullhd-2
	{
		padding-left: var(--size-2);
	}

	.padding-x-fullhd-2
	{
		padding-right: var(--size-2);
		padding-left: var(--size-2);
	}

	.padding-y-fullhd-2
	{
		padding-top: var(--size-2);
		padding-bottom: var(--size-2);
	}

	.padding-fullhd-3
	{
		padding: var(--size-3);
	}

	.padding-top-fullhd-3
	{
		padding-top: var(--size-3);
	}

	.padding-bottom-fullhd-3
	{
		padding-bottom: var(--size-3);
	}

	.padding-right-fullhd-3
	{
		padding-right: var(--size-3);
	}

	.padding-left-fullhd-3
	{
		padding-left: var(--size-3);
	}

	.padding-x-fullhd-3
	{
		padding-right: var(--size-3);
		padding-left: var(--size-3);
	}

	.padding-y-fullhd-3
	{
		padding-top: var(--size-3);
		padding-bottom: var(--size-3);
	}

	.padding-fullhd-4
	{
		padding: var(--size-4);
	}

	.padding-top-fullhd-4
	{
		padding-top: var(--size-4);
	}

	.padding-bottom-fullhd-4
	{
		padding-bottom: var(--size-4);
	}

	.padding-right-fullhd-4
	{
		padding-right: var(--size-4);
	}

	.padding-left-fullhd-4
	{
		padding-left: var(--size-4);
	}

	.padding-x-fullhd-4
	{
		padding-right: var(--size-4);
		padding-left: var(--size-4);
	}

	.padding-y-fullhd-4
	{
		padding-top: var(--size-4);
		padding-bottom: var(--size-4);
	}

	.padding-fullhd-5
	{
		padding: var(--size-5);
	}

	.padding-top-fullhd-5
	{
		padding-top: var(--size-5);
	}

	.padding-bottom-fullhd-5
	{
		padding-bottom: var(--size-5);
	}

	.padding-right-fullhd-5
	{
		padding-right: var(--size-5);
	}

	.padding-left-fullhd-5
	{
		padding-left: var(--size-5);
	}

	.padding-x-fullhd-5
	{
		padding-right: var(--size-5);
		padding-left: var(--size-5);
	}

	.padding-y-fullhd-5
	{
		padding-top: var(--size-5);
		padding-bottom: var(--size-5);
	}
}